.numpers {
    background-color: var(--mainColor--);
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
}

.numpers h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 5px 0;
    color: white;
}

.numpers h6 {
    text-transform: uppercase;
    color: white;
    font-family: Tagwal;
    letter-spacing: 1px;
}